.landing {
  height: 700px;
  max-width: 1920px;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100vw;
}

.lading-img {
  height: 100%;
  display: flex;
  align-items: end;
  transform: translateX(-90px);
}

.lading-img img {
  height: 75%;
  object-fit: contain;
}

.monolauge {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
  font-size: 70px;
  transform: translateX(-130px) translateY(40px);
}

.programs {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  z-index: 20;
  transform: translateY(120px);
}

.program-box {
  width: 100%;
  height: 120px;
  background-color: rgba(5, 77, 151, 1);
  border-radius: 10px;
}

.background {
  width: 100vw;
  height: 100vh;
  max-width: 19;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -9;
  opacity: 0.3;
}

.img-text {
  display: flex;
  align-items: end;
  gap: 20px;
}
.img-text img {
  height: 50px;
}

.box {
  position: absolute;
  width: 700px;
  height: 100%;

  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
