.landing {
  height: 700px;
  display: flex;
  align-items: end;
  position: relative;
  padding-left: 70px;
  padding-right: 70px;
  background-color: rgb(11, 236, 83);
}

.lading-img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: end;
  background-color: aqua;
}

.lading-img img {
  height: 75%;
  object-fit: contain;
}

.monolauge {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
  width: 200px;
  font-size: 60px;
  transform: translateX(-60px) translateY(80px);
}

.programs {
  width: 500px;
  height: 100%;
  min-width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  z-index: 20;
  margin-bottom: 30px;
}

.program-box {
  width: 100%;
  height: 120px;
  background-color: rgba(5, 77, 151, 1);
  border-radius: 10px;
}

.background {
  width: 100vw;
  height: 100vh;
  max-width: 19;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -9;
  opacity: 0.3;
}

.img-text {
  display: flex;
  align-items: end;
  gap: 20px;
}
.img-text img {
  height: 50px;
}

.box {
  position: absolute;
  width: 700px;
  height: 100%;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}

@media (max-width: 1167px) {
  .landing {
    height: 600px;
    width: 100vw;
    display: flex;
    align-items: end;
    position: relative;
    background-color: rgb(11, 236, 83);
  }
  .monolauge {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    width: 200px;
    font-size: 40px;
    transform: translateX(-60px) translateY(80px);
  }
  .programs {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    z-index: 20;
    margin-bottom: 30px;
  }

  .program-box {
    width: 100%;
    height: 100px;
    background-color: rgba(5, 77, 151, 1);
    border-radius: 10px;
  }
}

@media (max-width: 912px) {
  .landing {
    height: 500px;
    width: 100vw;
    display: flex;
    align-items: end;
    position: relative;
    background-color: rgb(11, 236, 83);
  }
  .monolauge {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    width: 200px;
    font-size: 30px;
    transform: translateX(-60px) translateY(80px);
  }
  .programs {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    z-index: 20;
    margin-bottom: 30px;
  }

  .program-box {
    width: 100%;
    height: 75px;
    background-color: rgba(5, 77, 151, 1);
    border-radius: 10px;
  }
}
