.admission-overlay {
  display: flex;
  justify-content: space-around;
  padding: 200px 60px 0px 60px;
}
.form-grid input {
  color: hsl(0, 0%, 0%);
}
.admission-modal {
  width: 100%;
  padding-bottom: 10px;
  max-width: 1920px;
  display: flex;

  position: relative;
}

/* CLOSE */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

/* LEFT */
.admission-left {
  flex: 1.1;
  padding-right: 10px;
}
.admission-left h2 {
  font-size: 40px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.admission-left input,
.admission-left textarea {
  width: 100%;
  padding: 10px;
  background: rgba(217, 217, 217, 1);
  border: none;
  border-radius: 4px;
}

.admission-left textarea {
  margin-top: 10px;
  height: 120px;
  resize: none;
}

.apply-submit {
  margin-top: 15px;
  background: #8b0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

/* RIGHT */
.admission-right {
  flex: 1;
  max-width: 600px;
  max-height: 400px;
  border-left: 1px solid #000000;
  padding-left: 20px;
  text-align: center;
}
.admission-right img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .admission-overlay {
    display: flex;
    justify-content: space-around;
    padding: 170px 50px 0px 50px;
  }
  .admission-modal {
    flex-direction: column;
  }
  .admission-right {
    padding-left: 0px;
  }
  .admission-right {
    border-left: none;
    margin-top: 20px;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 573px) {
  .admission-overlay {
    display: flex;
    justify-content: space-around;
    padding: 170px 10px 0px 10px;
  }
}
