.gallery-wrapper {
  margin: auto;
  padding: 190px 60px 10px 60px;
  border-radius: 16px;
}

/* Header */
.gallery-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 30px;
  margin-bottom: 5px;
}

.gallery-head h2 {
  font-weight: 600;
}

/* Navigation */
.gallery-nav {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.gallery-nav button {
  background: transparent;
  border: none;
  font-size: 14px;
  padding: 6px 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.gallery-nav button.active {
  border-color: #000;
  font-weight: 600;
}

/* Add Image Button */
.add-image-btn {
  background: #00000000;
  color: #000000;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}
.gallery-filters {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid black;
}
/* Grid */
.gallery-grid {
  display: grid;
  gap: 16px;
  border-radius: 16px;
}

/* Image Card */
.gallery-item {
  background: #e3e3e3;
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 5 / 3;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Placeholder style */
.gallery-item.placeholder {
  background: #dcdcdc;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

/* Optional skeleton animation */
.gallery-item.placeholder::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  animation: shimmer 1.4s infinite;
}
.activeCatogary {
  scale: 1.1;
  color: rgb(255, 127, 127);
}

.notactiveCatogary {
  scale: 1;
}
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Responsive */
@media (max-width: 1024px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (max-width: 820px) {
  .gallery-wrapper {
    margin: auto;
    padding: 190px 50px 10px 50px;
    border-radius: 16px;
  }
}
@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 480px) {
  .gallery-head {
    flex-direction: column;
    align-items: flex-start;
  }

  .gallery-grid {
    grid-template-columns: 1fr !important;
  }
}

@media (max-width: 573px) {
  .gallery-wrapper {
    margin: auto;
    padding: 150px 10px 10px 10px;
    border-radius: 16px;
  }
}
