.explore-container {
  padding: 40px 20px;
  width: 100vw;
  max-width: 1920px;
  margin: 0 auto;
}

.explore-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1.2;
}

.nav-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.nav-button {
  color: white;
  padding: 25px 40px;

  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  flex: 1;
  min-width: 200px;
  text-align: center;
  transition: all 0.3s ease;
}

.nav-button:hover {
  background-color: #a4a4a4;
  transform: translateY(-2px);
}

.nav-button:active {
  transform: translateY(0);
}

/* Responsive Design */
@media (max-width: 768px) {
  .explore-container {
    padding: 40px 20px;
    width: 100vw;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px 20px 10px 20px;
  }

  .explore-title {
    font-size: 20px;
  }

  .nav-buttons {
    flex-direction: column;
  }

  .nav-button {
    min-width: 100%;
    font-size: 1.25rem;
  }
}
