.location-con {
  width: 100vw;
  height: 500px;
  padding-left: 90px;
  padding-right: 90px;
  display: flex;
  gap: 100px;
  padding-bottom: 90px;
}

.loc-title {
  font-size: 50px;
}
.map {
  width: 100%;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
}

.address {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

@media (max-width: 900px) {
  .location-con {
    width: 100vw;
    height: 400px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    gap: 50px;
  }
}

@media (max-width: 526px) {
  .loc-title {
    display: flex;
    font-size: 50px;
    gap: 10px;
  }
  .location-con {
    width: 100vw;
    height: 400px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .map {
    width: 100%;
    height: 400px;
  }

  .map iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
  }
}

@media (max-width: 421px) {
  .loc-title {
    display: flex;
    font-size: 30px;
    gap: 10px;
  }
  .location-con {
    width: 100vw;
    height: 400px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .map {
    width: 100%;
    height: 400px;
  }

  .map iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
  }
  .address {
    display: flex;
    gap: 20px;
    font-size: 13px;
  }
}
