.review-container {
  width: 100vw;
  gap: 20px;
  display: flex;
  height: max-content;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
}

.reviews {
  width: 100%;
  display: flex;
  gap: 10px;
  padding-left: 90px;
  padding-right: 90px;
  justify-content: space-around;
}
.name-rev {
  font-size: 25px;
}
.riv {
  height: 400px;
  padding: 30px;
  width: 500px;
  color: aliceblue;
  opacity: 1;
  border-radius: 10px;
  background-color: rgba(5, 77, 151, 1);
}
.rev-dec {
  font-size: 15px;
  color: rgb(234, 233, 233);
}

.review-actions {
  padding-left: 90px;
  padding-right: 90px;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 10px;
}

.up {
  animation: up 1s forwards cubic-bezier(0.26, 0.69, 0.58, 1.14);
}

@keyframes up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.out {
  animation: out 1s forwards cubic-bezier(0.26, 0.69, 0.58, 1.14);
}

@keyframes out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media (max-width: 1170px) {
  .reviews {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 90px;
    padding-right: 90px;
    justify-content: space-around;
  }
  .riv {
    height: max-content;
    padding: 30px;
    width: 100%;
    color: aliceblue;
    opacity: 1;
    background-color: rgba(135, 18, 5, 1);
  }
}
@media (max-width: 898px) {
  .reviews {
    width: 100%;
    display: flex;
    gap: 10px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-around;
  }
  .review-actions {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
  }
}

@media (max-width: 573px) {
  .reviews {
    width: 100%;
    display: flex;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-around;
  }
  .review-actions {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
  }
}
