.float {
  animation: float 3s forwards infinite linear;
}

@keyframes float {
  0% {
    opacity: 0;
    scale: 0;
    transform: translateY(0px);
  }
  10% {
    scale: 1;
    opacity: 1;
  }
  40% {
    opacity: 1;
    transform: translateY(-60px);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-90px);
  }
}
