* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: Pally-Medium;
  src: url(Pally-Medium.otf);
}
@font-face {
  font-family: Pally-Regular;
  src: url(Pally-Regular.otf);
}
@font-face {
  font-family: Expose-Medium;
  src: url(Expose-Medium.otf);
}
@font-face {
  font-family: NewTitle;
  src: url(NewTitle-Bold.otf);
}
.font-NewTitle {
  font-family: NewTitle;
}
.font-Expose {
  font-family: Expose-Medium;
}
.small-font {
  font-size: 7px;
  font-weight: 200;
  font-family: Pally-Regular;
}

.font {
  font-family: Pally-Medium;
}

.app {
  max-width: 1920px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.underScore {
  border-bottom: 2px solid;
}
.hedder-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}
