* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  scrollbar-width: none;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Neu-Bold {
  font-family: "Bebas Neue", sans-serif;
}

.QuickSand-Regular {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}
.QuickSand-Bold {
  font-family: "Quicksand", sans-serif;
  font-weight: 900;
}
body {
  overflow-x: hidden;
}
.app {
  width: 100vw;
  max-width: 1920px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.underScore {
  border-bottom: 2px solid;
}
.hedder-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  color: rgb(0, 0, 0);
}
