* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

.app {
  max-width: 1920px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.underScore {
  border-bottom: 2px solid;
}
.hedder-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}
