.notice-con {
  width: 100%;
  padding: 200px 60px 0px 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* GRID */
.notice-grid {
  width: 100%;
  max-width: 1920px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

/* CARD */
.notice-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* IMAGE PLACEHOLDER */
.notice-image {
  width: 100%;
  height: 290px;
  background-color: #e0e0e0;
}

/* CONTENT */
.notice-content {
  margin-top: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.notice-content h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.notice-date {
  font-size: 13px;
  color: #555;
}

.notice-content p {
  margin-top: 6px;
  font-size: 13px;
  line-height: 1.5;
  color: #333;
  max-width: 95%;
}
.bgImg-summmit {
  width: 100%;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .notice-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 821px) {
  .notice-con {
    width: 100%;
    padding: 200px 50px 0px 50px;
    display: flex;
    justify-content: center;
  }
  .notice-image {
    width: 100%;
    height: 200px;
    background: #e0e0e0;
  }
}
@media (max-width: 573px) {
  .notice-con {
    width: 100%;
    padding: 150px 10px 0px 10px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 520px) {
  .notice-grid {
    grid-template-columns: 1fr;
  }
}
