.offer-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 90px;
  box-sizing: border-box;
}

/* Title */
.offer-title {
  display: flex;
  flex-direction: column;
  opacity: 0;
  margin-top: 50px;
  margin-bottom: 20px;
}

.offer-title h2 {
  font-size: 50px;
  font-weight: 700;
}

/* Main Content */
.offer-content {
  display: flex;

  gap: 40px;
}

/* Points */
.offer-points {
  flex: 1;
}

.point-block {
  margin-bottom: 25px;
  font-size: 20px;
}

.point-block h4 {
  background-color: rgba(5, 77, 151, 1);
  color: #fff;
  display: inline-block;
  padding: 6px 14px;

  margin-bottom: 10px;
}

.point-block ul {
  font-size: 17px;
  padding-left: 18px;
}

.point-block li {
  margin-bottom: 6px;
  line-height: 1.5;
}

/* Images */
.offer-images {
  flex: 1;
  opacity: 0;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.image-box {
  overflow: hidden;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img1 {
  transform: translateY(-90px);
}

/* Animations */
.fadeout {
  animation: fadeout 0.6s forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 1146px) {
  .offer-con {
    padding: 0 50px;
  }

  .img1 {
    transform: translateY(-40px);
  }
}

@media (max-width: 847px) {
  .offer-content {
    flex-direction: column;
  }
  .point-block h4 {
    font-size: 16px;
  }
}

@media (max-width: 573px) {
  .offer-con {
    padding: 0 20px;
  }

  .image-box {
    height: 300px;
  }
}

@media (max-width: 410px) {
  .image-box {
    height: 200px;
  }
}
