.offer-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 90px;
  padding-right: 90px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

/* Title */
.offer-title {
  display: flex;
  justify-content: start;
  flex-direction: column;
  opacity: 0;
  margin-top: 50px;
  margin-bottom: 20px;
}

.offer-title h2 {
  font-size: 50px;
  font-weight: 700;
}

/* Main Content */
.offer-content {
  display: flex;
  gap: 40px;
  align-items: stretch;
}

/* Points */
.offer-points {
  flex: 1;
  border-radius: 16px;
}

.point-block {
  margin-bottom: 25px;
  font-size: 20px;
}

.point-block h4 {
  background: #1565c0;
  color: #fff;
  display: inline-block;
  padding: 6px 14px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.point-block ul {
  padding-left: 18px;
}

.point-block li {
  margin-bottom: 6px;
  line-height: 1.5;
}

/* Images */
.offer-images {
  flex: 1;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.image-box {
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
  opacity: 0;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img1 {
  opacity: 0;
}

.fadeout {
  animation: fadeout 0.6s forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media (max-width: 900px) {
  .offer-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .offer-title h2 {
    font-size: 40px;
    font-weight: 700;
  }

  .point-block {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .offer-images {
    justify-content: start;
    flex-direction: column;
  }

  .image-box {
    width: 100%;
    height: 40%;
  }
}

@media (max-width: 745px) {
  .offer-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .offer-content {
    flex-direction: column;
  }

  .offer-images {
    justify-content: start;
    flex-direction: row;
  }

  .image-box {
    width: 100%;
    height: 100%;
  }
  .img1 {
    transform: translateY(70px);
  }
}
@media (max-width: 358px) {
  .offer-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .offer-title h2 {
    font-size: 20px;
    font-weight: 700;
  }

  .point-block {
    margin-bottom: 15px;
    font-size: 15px;
  }
}
