.stats-container {
  width: 100vw;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  padding-top: 10px;
  padding-bottom: 80px;
  padding-left: 90px;
  padding-right: 90px;
  z-index: 90;
  gap: 5px;

  /* background-color: rgba(5, 77, 151, 1); */
  color: rgb(0, 0, 0);
}
.stats-intro {
  z-index: 100;
  font-size: 20px;
}
.stats-title {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  font-size: 60px;
  margin-bottom: 20px;
  z-index: 100;
  opacity: 0;
  color: rgb(0, 0, 0);
  width: 100%;

  position: relative;
}
.icons {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  z-index: 90;
  gap: 30px;
  width: 100%;

  font-size: 40px;
}
.icon {
  opacity: 1;
}
.icon img {
  width: 210px;
}

.top-left {
  width: 100px;
  height: 50px;
  top: 0px;
  left: 0px;
  position: absolute;
}

/* Old */
.dec {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
.title-img {
  position: absolute;
  top: 1px;

  height: 100%;
  width: 30%;
  object-fit: contain;
}

.side {
  position: absolute;
  top: -50px;
  left: -200px;

  pointer-events: none;
}
.side-r {
  position: absolute;
  bottom: -200px;
  right: -150px;
  pointer-events: none;
  z-index: 70;
}

.toleft {
  animation-name: toleft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes toleft {
  from {
    opacity: 0;
    transform: translateX(40px) translateY(90px);
  }
  to {
    opacity: 1;
    transform: translateX(0px) translateY(90px);
  }
}

.backl {
  animation-name: backl;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes backl {
  from {
    opacity: 1;
    transform: translateX(0px) translateY(90px);
  }
  to {
    opacity: 0;
    transform: translateX(40px) translateY(90px);
  }
}

.toright {
  animation-name: toright;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes toright {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.backr {
  animation-name: backr;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes backr {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-40px);
  }
}

@media (max-width: 1316px) {
  .icon img {
    width: 200px;
  }
  .stats-title {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1155px) {
  .stats-container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .stats-intro {
    z-index: 100;
    font-size: 20px;
  }
  .stats-title {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 60px;
    margin-bottom: 20px;
    z-index: 100;
  }
}

@media (max-width: 932px) {
  .icon img {
    width: 150px;
  }
  .stats-title {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

@media (max-width: 730px) {
  .icons {
    display: flex;
    gap: 10px;
    justify-content: space-around;
  }
  .icon img {
    width: 120px;
  }
  .dec {
    font-size: 20px;
  }
}

@media (max-width: 623px) {
  .icons {
    display: flex;
    gap: 10px;
    justify-content: space-around;

    font-size: 25px;
  }
  .icon img {
    width: 90px;
  }
  .stats-title {
    font-size: 20px;
    margin-bottom: 0px;
  }
}
@media (max-width: 573px) {
  .stats-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
  .stats-intro {
    z-index: 100;
    font-size: 16px;
  }
  .stats-title {
    font-size: 30px;
  }
}

@media (max-width: 527px) {
  .icons {
    display: flex;
    gap: 10px;
    justify-content: space-around;
  }
  .icon img {
    width: 80px;
  }
  .dec {
    font-size: 12px;
  }
  .stats-title {
    font-size: 30px;
  }
}
