.stats-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;

  z-index: 90;
}
.stats-title {
  font-size: 50px;
  margin-bottom: 20px;
}
.icons {
  display: flex;
  z-index: 90;
  gap: 30px;
  justify-content: space-around;
  font-size: 30px;
}
.icon {
  opacity: 0;
}
.icon img {
  width: 210px;
}
.dec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side {
  position: absolute;
  top: -500px;
  left: -150px;

  pointer-events: none;
}
.side-r {
  position: absolute;
  bottom: -200px;
  right: -150px;
  pointer-events: none;
  z-index: 70;
}

.toleft {
  animation-name: toleft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes toleft {
  from {
    opacity: 0;
    transform: translateX(40px) translateY(90px);
  }
  to {
    opacity: 1;
    transform: translateX(0px) translateY(90px);
  }
}

.backl {
  animation-name: backl;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes backl {
  from {
    opacity: 1;
    transform: translateX(0px) translateY(90px);
  }
  to {
    opacity: 0;
    transform: translateX(40px) translateY(90px);
  }
}

.toright {
  animation-name: toright;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes toright {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.backr {
  animation-name: backr;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes backr {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-40px);
  }
}

@media (max-width: 1316px) {
  .icon img {
    width: 200px;
  }
  .stats-title {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

@media (max-width: 932px) {
  .icon img {
    width: 150px;
  }
  .stats-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

@media (max-width: 730px) {
  .icons {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    font-size: 25px;
  }
  .icon img {
    width: 100px;
  }
}

@media (max-width: 623px) {
  .icons {
    display: flex;

    gap: 10px;

    justify-content: space-around;

    font-size: 25px;
  }
  .icon img {
    width: 90px;
  }
  .stats-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 527px) {
  .icons {
    display: flex;

    gap: 10px;
    justify-content: space-around;

    font-size: 12px;
  }
  .icon img {
    width: 80px;
  }
}
