.stats-container {
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
.stats-title {
  font-size: 50px;
  margin-bottom: 20px;
}
.icons {
  display: flex;

  gap: 30px;
  justify-content: space-around;
}
.icon {
  opacity: 0;
}
.icon img {
  height: 200px;
}
.dec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side {
  position: absolute;
  top: -500px;
  left: 0px;

  pointer-events: none;
}
.side-r {
  position: absolute;
  bottom: -200px;
  right: 0px;
  pointer-events: none;
}

.toleft {
  animation-name: toleft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes toleft {
  from {
    opacity: 0;
    transform: translateX(40px) translateY(90px);
  }
  to {
    opacity: 1;
    transform: translateX(0px) translateY(90px);
  }
}

.backl {
  animation-name: backl;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes backl {
  from {
    opacity: 1;
    transform: translateX(0px) translateY(90px);
  }
  to {
    opacity: 0;
    transform: translateX(40px) translateY(90px);
  }
}

.toright {
  animation-name: toright;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes toright {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.backr {
  animation-name: backr;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes backr {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-40px);
  }
}
