.intro {
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  transform: translateY(-10px);
  border-radius: 10px;
  overflow: hidden;
  padding: 90px 90px 0px 90px;
  display: flex;
  justify-content: space-between;
}
.intro-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  max-width: 600px;
}
.head {
  display: flex;
  gap: 20px;
  align-items: end;
  font-size: 50px;

  opacity: 0;
}

.head img {
  height: 120px;
}

.intro-image {
  background-color: rgb(104, 104, 109);
  border-radius: 10px;
  overflow: hidden;
}

.intro-buttons {
  display: flex;
  gap: 10px;
  opacity: 0;
}
.fade-img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -3;
  opacity: 0.3;
}
.p {
  opacity: 0;
}
