.intro {
  height: max-content;
  width: 100vw;
  border-radius: 10px;

  z-index: 9999000;
  padding: 90px 90px 0px 90px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  position: relative;
  transform: translateY(-0px);
}
.intro-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  max-width: 600px;
}
.head {
  display: flex;
  gap: 20px;
  align-items: end;
  font-size: 50px;
  opacity: 0;
}

.head img {
  height: 120px;
}

.intro-image {
  height: max-content;
}
.intro-image img {
  object-fit: contain;
}
.intro-buttons {
  display: flex;
  gap: 10px;
  opacity: 0;
}

.overflowfix-test {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: 50px;
  top: -450px;
}

@media (max-width: 1155px) {
  .intro {
    height: max-content;
    width: 100vw;
    transform: translateY(-10px);
    border-radius: 10px;

    gap: 50px;
    flex-direction: column;
    padding: 90px 50px 0px 50px;
    display: flex;

    justify-content: space-between;
  }
  .intro-image {
    overflow: hidden;
    height: max-content;
  }
  .intro-image img {
    height: 500px;

    object-fit: contain;
  }
  .intro-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    max-width: 100%;
  }
}
@media (max-width: 1165px) {
  .overflowfix-test {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: 70px;
    top: -390px;
  }
}

@media (max-width: 596px) {
  .intro-image {
    height: 400px;
  }
  .intro-image img {
    object-fit: cover;
  }
}

@media (max-width: 573px) {
  .intro {
    padding: 90px 20px 0px 20px;
  }
  .intro-image {
    overflow: hidden;
    height: 400px;
  }
  .intro-image img {
    object-fit: cover;
  }
}

@media (max-width: 913px) {
  .overflowfix-test {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: 70px;
    top: -300px;
  }
}

@media (max-width: 740px) {
  .overflowfix-test {
    display: none;
  }
}
