.footer {
  background-color: #651616;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-left {
  display: flex;
  align-items: center;
}

.logo-placeholder img {
  height: 100px;
}

.footer-right {
  text-align: right;
  font-size: 17px;
}
.Socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.Social-icons {
  display: flex;
  gap: 10px;
}
.Social-icon {
  height: 50px;
  width: 50px;

  border-radius: 10px;
}

.Social-icon img {
  height: 100%;
}
/* @media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .footer-left {
    margin-bottom: 15px;
  }

  .logo-placeholder {
    width: 180px;
    height: auto;
  }

  .footer-right {
    text-align: center;
    font-size: 13px;
  }
} */
